

.nav-item{
    margin-right: 20px;
    font-size: 10pt;
}
.nav-link{
    color: black;
}
.navbar{
    background-color: teal;
}

iframe {
    height: 200px;
}
.input-group {
    width: 50%;
    margin: 50px auto;
}


.search-results {
	justify-content: center;
	padding: 5%;
	font-size: 12pt;
}
div.scrollmenu {
	background-color: teal;
	overflow: auto;
	white-space: nowrap;
    height: 200px;
  }
  