
.nav-item{
    margin-right: 20px;
	font-size: 10pt;
	
}
.nav-link{
	color: white;
	font-weight: bold;
}
.navbar{
	background-color: teal;
	opacity: 0.5;
}

iframe {
	height: 200px;
	width: 33.33%;
}
.input-group {
    width: 50%;
    margin: 50px auto;
}

.search-results {
	
	padding-top: 5%;
	padding-bottom: 100%;
	padding-right: 10%;
	padding-left: 10%;
	
}

div.scrollmenu {
	background-color: transparent;
	overflow: auto;
	white-space: nowrap;
    height: 200px;
  }
.card{
	justify-content: center;
	font-size: 12pt;
	height: 100%;
	padding: 20px;
}

#s{
	background: linear-gradient(to right, #f887875d 30%, #5cfdf5 100%);
}

  